.book-container {
  border-radius: 4px;
  border: 1px solid rgb(228, 222, 222);
  margin: 80px 80px 20px 80px;
  padding: 10px 20px;
  display: flex;
  gap: 15rem;
  align-items: center;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.book-row1 {
  margin-left: 10px;
}

.book-row1 > button {
  color: blue;
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.book-row1 > button:nth-child(odd) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.update-progress {
  color: #fff;
  background-color: blue;
  padding: 8px 18px;
  width: 12rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.middle-data {
  display: flex;
  gap: 10px;
  align-items: center;
}

.middle-data > img {
  width: 100px;
  height: 100px;
}

.percent > p {
  font-size: 2.3rem;
  margin-bottom: 0;
  margin-top: 0;
}
