.add-form {
  margin: 10px 10px 100px 60px;
}

form .title-input {
  width: 45%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.add-form > h2 {
  margin-left: 20px;
  opacity: 0.6;
  font-weight: 300;
}

.author-input {
  border: 1px solid lightgray;
  padding: 10px;
  margin-right: 9px;
  width: 10rem;
}

.panel-bg {
  border: 1px solid lightgray;
  padding: 10px;
  margin-right: 9px;
  width: 10rem;
}

.add-book-btn {
  color: #fff;
  background-color: rgb(46, 136, 240);
  padding: 10px 18px;
  width: 10rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
