header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid lightgray;
  gap: 20px;
}

.logo {
  font-size: 2.3rem;
  margin-left: 40px;
  color: blue;
}

a {
  text-decoration: none;
  color: #000;
}

.header-ul {
  display: flex;
  margin-left: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li:last-child {
  font-weight: 100;
  color: gray;
  opacity: 0.5;
}

.header-span {
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 10px 15px;
  margin-right: 80px;
}
